name: publish site
on:
  push:
    branches:
      - main 

permissions:
  contents: write  # 关键：授予脚本向仓库写入代码（发布网页）的权限

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
          
      - name: Install dependencies
        run: pip install mkdocs-material mkdocs-awesome-pages-plugin pymdown-extensions
        
      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force